<!DOCTYPE html>
  <html lang = "en">
    <head>
       <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login </title>
          {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "{% static "login.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>

      <section class = "container"> 

        <form action = "" method = "post" enctype = "multipart/form-data">

            {% csrf_token %}

          <label>  Email: </label> <input type = "email" placeholder = "enter your email"  name = "email"  required><br>

           <label>  Password:  </label> <input type = "password" placeholder = "enter your password"  name = "password"  required><br>

           <label> Visual encryption field: </label> <input type = "file" required title = "cryptography_file" name = "share"> <p> Please upload the visual encryption image you we're given during registration <br> in order to validate your account eligibility and login. </p> <br>

           <button type = "submit"> Login </button>

        </form>

          {% if messages %}

        {% for message in messages %}

        <div class = "alert {{message.tags}} alert-dismissable" role = "alert">
          {{message}}
          <button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close"> 
            <span aria-hidden ="True"> &times; </span>
          </button>
        </div>

        {% endfor %}

        {% endif %}

      </section> 

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    </body>


</html>